.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat_header{

    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.chat_header_info{
    flex: 1;
    padding-left: 20px;
}

.chat_header_info > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat_header_info > p {
    color:grey;
}

.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #fff;
    margin-bottom: 30px;
}

.contact {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat_receiver{
    margin-left: auto;
    background-color: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
}

.chat_time{
    margin-left: 10px;
    font-size: xx-small;
}

.chat_header_right {

    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat_body {
    flex: 1;
    background-image: url("https://i.pinimg.com/originals/97/c0/07/97c00759d90d786d9b6096d274ad3e07.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: hidden;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-radius: 1px solid lightgrey;
}

.chat_footer > form {
    flex: 1;
    display: flex;
    
}

.chat_footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    min-width: 50px;
    border: none;
}

.chat_footer > form > button {
    display: none;
}

.chat_footer > .MuiSvgIcon-root {
    padding: 10px;
    color: grey;
}