.left-overall-container{
    background-color: var(--background-color-4);
    min-height: 100%;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color-3);
 }
 
 .left {
    padding: 15px 8px;
    /* position: absolute;
    left: 0; */
 }
 
 .right {
     padding: 15px 8px;
     width: 40%;
     display: flex;
     justify-content: space-between;
     /* position: absolute; */
     /* right: 0; */
 }
 
 .right span {
     color: var(--color-1);
 }
 
 .container__down {
     padding: 25px;
     width: 100%;
     background-color: var(--background-color-4);
     height: 7%;
 }
 
 form {
     position: sticky;
 }
 
 input {
     position: absolute;
     /* right: 0; */
     margin: auto  auto;
     width: 100%;
     border-radius: 5px;
     background-color: black;
     color: white;
     padding: 5px 45px;
     background-color: var(--background-color-3);
     border: 1px solid var(--background-color-3);
 }
 
 svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
     overflow: visible;
     box-sizing: content-box;
     color: #8696a0;
 }