.sidebarchat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarchat:hover {
    background-color: darkgrey;
}


.sidebarchat_info{
    margin-left: 15px;
}